<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- custom css file link -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>meow Dashboard</title>
    <!-- header section -->
    <header class="header">
        <a href="main.html" class="logo"> <i class="fas fa-meow"></i> meow </a>

        <nav class="navbar">
            <a href="" class="journeyPlanning">Journey Planning</a>
            <a href="" class="leapCard">Leap Card</a>
            <a href="" class="weather">Weather</a>
        </nav>

        <div class="icons">
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="login-btn" class="fas fa-users"></div>
        </div>

        <form action="" class="login-form">
            <h3>log In</h3>
            <input type="email" placeholder="enter your email" class="box">
            <input type="password" placeholder="enter your password" class="box">
            <div class="remember">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me">remember me</label>
            </div>
            <input type="submit" value="login now" class="btn">
            <p>don't have an account? <a href="#">Sign Up</a></p>
        </form>

    </header>
    <section class="section">
        <div id="journeyPlanningBox">
             <div class="flex-container">
                <div class="box1">
                    <h1>Journey Planning</h1>
                    <form action="" class="journey-form">
                        <input type="search" placeholder="Start Point" class="box">
                        <input type="search" placeholder="Destination" class="box">
                        <label for="time">Choose a time to start the journey: </label>
                        <select id="option" onchange="run()">
                                <option value="now">Leave Now</option>
                                <option value="depart">Depart At</option>
                                <option value="arrive">Arrive By</option>
                                <option value="lastAvaliable">Last Avaliable</option>
                              </select>

                        <div id="time"></div>
                        <input type="submit" value="Search" class="btn">
                    </form>
                    <div id="result"></div>
                </div>
                <div class="box2">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div id="leapCardBox">
            <div id="leapCardLog">
                <form action="" class="leapCard-login-form">
                    <h3>First, please login to your leapCard account</h3>
                    <input type="email" placeholder="enter your account" class="leapCard-box">
                    <input type="password" placeholder="enter your password" class="leapCard-box">
                    <input id="leapcardbtn"  type="submit" value="login now" class="leapCard-btn">
                </form>
            </div>
            <div id="leapCardWholeCon">
                <div><div class="leapCard-Logo"><i class="fas fa-address-card"></i></div><div><h1>Leap Card</h1></div></div>
                <div class="leapCard-Balance">
                    <div class="leapCard-ba-divTitle">
                        <span class="leapCard-ba-spanTitle">Balance</span><br><br>
                        <span style="font-size:30px;">€28.82</span><br>
                        <span style="font-size:12px;">Available</span><br>
                        
                    </div>
                    <br>
                    <div class="leapCard-ba-divCon">
                        <br>
                        <div class="leapCard-ba-conLogo" ><i class="far fa-money-bill-alt"></i></div> 
                        <p  class="leapCard-ba-conP"> This website does not support top-up at the moment, for top-up, please go to leapCard official website <a href="https://about.leapcard.ie/young-adult-and-student-card-launch?gclid=Cj0KCQjwhqaVBhCxARIsAHK1tiNHc7vYTSVwHtsajBidzgRy38Yg0uOQzzQJHdVEllLciUPGAUbG-rQaApJDEALw_wcB" >click here</a> </p>
                    </div>
                    
            
                </div>
                <div class="leapCard-AccInfo">
                    <div class="leapCard-AccInfo-Title">
                            <div style="margin-top:10px;margin-left: 15px; ">
                                <span >Card Information</span><div class="leapCard-AccInfo-Logo" ><i class="fas fa-qrcode"></i></div><br><br>
                            </div>
                    </div>
                            
                        <div class="leapCard-AccInfo-Con">
                            <div style="margin-top:5px;margin-left: 30px; ">
                                <br>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">Card label</span></div><div class="leapCard-AccInfo-fontValueDiv"><img style="width: 100px;" src="imag/cardLabel.jpeg"/></div></div>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">Card number</span></div><div class="leapCard-AccInfo-fontValueDiv"><span >301268935</span></div></div>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">Card typy</span></div><div class="leapCard-AccInfo-fontValueDiv"><span>Personalised Student</span></div></div>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">Status</span></div><div class="leapCard-AccInfo-fontValueDiv"><span  >Unblocked</span></div></div>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">credit balance</span></div><div class="leapCard-AccInfo-fontValueDiv"><span > 22.46</span></div></div>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">Travel credit status </span></div><div class="leapCard-AccInfo-fontValueDiv"><span >Unblocked</span></div></div>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">Auto top-up</span></div><div class="leapCard-AccInfo-fontValueDiv"><span  >Disabled</span></div></div>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">Issue date</span></div><div class="leapCard-AccInfo-fontValueDiv"><span  >15/9/2021</span></div></div>
                                <div class="leapCard-AccInfo-ConDiv"><div style="float:left;"><span class="fontTitle">Issue date</span></div><div class="leapCard-AccInfo-fontValueDiv"><span >Expiry date</span></div></div>
                            </div> 
                            <div class="leapCard-AccInfo-imag">
                                <img style="width: 280px;height:170px" src="imag/leapCard.png"/>        
                            </div>
                        </div>
                    
                </div>
                <div class="lpBal0"></div>
                <div class="leapCard-Trip">
                    <div class="leapCard-Trip-Title">
                        <br><span class="spanTitle" >Recent Activity</span><div class="leapCard-Trip-logo" ><i class="far fa-arrow-alt-circle-right"></i></div><br><br>
                        
                    </div>
                        
                    <div class="leapCard-Trip-Con">
                        <div><div style="float:left;"><span>14 Jun </span>&nbsp;<span>21:37</span>&nbsp;<span>Leap Top-Up App</span></div><div class="lpTripValue"><span style="color:green">+€10.00</span></div></div>
                        <div>---------------------------------------------------------------</div>
                        <div style="margin-top:15px"><div style="float:left;"><span>12 Jun </span>&nbsp;<span>21:43</span>&nbsp;<span>Go-Ahead Ireland</span></div><div class="lpTripValue"><span >-€1.00</span></div></div>
                        <div>---------------------------------------------------------------</div>
                        <div style="margin-top:15px"><div style="float:left;"><span>09 Jun </span>&nbsp;<span>15:38</span>&nbsp;<span>Go-Ahead Ireland</span></div><div class="lpTripValue"><span style="color:green">+€0.00</span></div></div>
                        <div>---------------------------------------------------------------</div>
                        <div style="margin-top:15px"><div style="float:left;"><span>09 Jun </span>&nbsp;<span>14:56</span>&nbsp;<span>Go-Ahead Ireland</span></div><div class="lpTripValue"><span >-€1.00</span></div></div>
                        <div>---------------------------------------------------------------</div>
                        <div style="margin-top:15px"><div style="float:left;"><span>05 Jun </span>&nbsp;<span>21:40</span>&nbsp;<span>Go-Ahead Ireland</span></div><div class="lpTripValue"><span >-€1.00</span></div></div>
                    
                    </div>    
                </div>
            </div>
        </div>
        <div id="weatherBox">
            <h1>Weather</h1>
            <h5>current weather conditions</h5>
            <h4>{{temperature_in_f}} F | {{temperature_in_c}} C</h4>
            <h4>{{description}}</h4>
            <p><em>Last updated {{utc_update_time}} GMT</em></p>
        </div>
    </section>

    <script>
        (function updateStatus() {
          fetch(`/Dublinbusapp/weatherdata`, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            },
          })
          .then(response => response.json())
          .then(res => {
            const html = `
              <h1>Weather</h1>
              <h5>current weather conditions</h5>
              <h4>${res.temperature_in_f}F° | ${res.temperature_in_c}C°</h4>
              <h4>${res.description}</h4>
              <p><em>Last updated ${res.utc_update_time} GMT</em></p>`;
            const newInfo = document.getElementById('weatherBox');
            newInfo.innerHTML = html;
        
            setTimeout(function() {
              updateStatus();
            }, 60000);
          })
          .catch(err => console.log(err));
        })();
        </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdf-x6SluXsWzP9qpwxVGBY08pm_3TAQU&callback=initMap"></script>

    <script src="{% static 'script.js' %}"></script>

    

    </body>

</html>